.filter-container {
  background-color: rgb(51, 56, 61);
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
  padding-top: 15px;
  width: 100%;
}

legend {
  float: left;
}

.search-bar {
  grid-area: c;
}

.search-input {
  width: 30vw;
  grid-area: a;
}

.search-button {
  background-color:  rgb(8, 120, 92);
  border-radius: 10%;
  color: white;
  font-size: 13px;
}

.hidden {
  display: none;
}

@media screen and (max-width: 650px) {
  .filter-container {
    justify-content: center;
    align-items: center;
    display: grid;  
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    'a a'
    'b1 b2'
    'c c'
    'd d';
  }

  legend {
    position: absolute;
    top: 16%;
    left: 40%;
    grid-area: a;
  }

  .rating-sort {
    grid-area: b1;
  }

  .date-sort {
    grid-area: b2;
  }

  .search-input {
    width: 75vw;
  }

  .filter-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
  }
  
}

@media screen and (max-width: 420px) {
  .filter-container {
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .filter-container > div {
    margin: 2%;
  }

  legend {
    position: inherit;
  }
}
